body {background-color: #f7f7f7;}

.navbar{

	width: 80%;
	align-items: center;
	align-content: center;
}

header .row {display: flex;align-items: center;}
header {font-size: 12px;padding: 10px 0; 	background-color:#121854;}
header .col-sm-8 {display: flex; justify-content: flex-end;}
header ul {list-style: none;}
header li img {width: 32px;height: 32px;}
.row{align-items: center;}


.bod{margin:20px; display:flex; }
.bod-itm{margin:10px; padding: 10px;  width: 80%;}
.bod-main{margin:10px; padding: 10px; width: 80%;}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card-itm {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

.card-main {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

footer{background-color:#121854; text-decoration-color: white;}

