html, body{
  font-family: 'Open Sans', sans-serif;
  background-color: #F8F9FA !important;
/* scroll-behavior: smooth; */}

/*
Button green: #4CAF50;
.bg-gray{ background-color: #F8F9FA; }
.text-success-dark{ color: #228038!important;}
.bg-dark-dark { background-color: #232323;}
.bg-darker{ background-color: #121212;}
.text-muted{ color: #777!important;}
.secondary-para{font-size: 1.2rem;}


*/

.shadow-sm{
  box-shadow: 0 3px 5px rgba(85, 85, 85, 0.2)!important;
}

.main {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 95%;
}

.row{
  display: flex;
  justify-content: center;
}

.card {
  
}

/*
.cardleft{
    width: 200px !important;
    margin: 10px;
    box-shadow: 0 3px 5px rgba(85, 85, 85, 0.2)!important;
    transition: 0.3s;
    border-radius: 5px;
      display: flex;
    justify-content: center;
    background-color: #ffffff;

}*/

.cardleft{

  margin: 10px;

}

.cardlink{
  justify-content: center;
}

.cardlink a{
  display: block;
  padding: 16px;
  color: #232323;/*text dark*/
  text-decoration: none !important;
  background-color: #ffffff;
  margin: 5px;
  border-left: solid; 
  border-color: #228038 !important;
  border-left-width: 7px;

}

.cardcenter{
    box-shadow: 0 3px 5px rgba(85, 85, 85, 0.2)!important;
    transition: 0.3s;
    border-radius: 5px;
    background-color: #ffffff;
}

.cardright{

}

.card1{
      box-shadow: 0 3px 5px rgba(85, 85, 85, 0.2)!important;
    transition: 0.3s;
    border-radius: 5px;
    background-color: #ffffff;
}

.button {
  background-color: #4CAF50; /*Button Green */
  border: none;
  color: #ffffff !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.ansbtn {
  background-color: #228038; /*ansbtn Green */
  border: none;
  color: #ffffff !important;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  box-shadow: 0 3px 5px rgba(85, 85, 85, 0.2);
}

.ansbtn:hover {
  padding: 10px 18px;
}


.glyphicon{
  display: none;
  }
  
input:checked + span{
  display: block;
  
  }
  
.answer-block{
  display: none;
  }
      

.parallax { 
  background-image: url("trump.jpg");
  height: 70%; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}   


.topnav {
  overflow: visible;
  background-color: #ffffff;
  border-bottom: solid; 
  border-color: #228038 !important; 
  box-shadow: 0 3px 18px rgba(85, 85, 85, 0.2)!important;
  opacity: 100% !important;
  z-index: 2;
  position: relative;
 /*  
  border-width: 3px;
  border-left-width: 10px;
  border-right-width: 10px;
  border-style: solid;
  border-style: none, none, solid, none;
  display: flex;
  align-items: center;
  justify-content: center;
  */
}

.topnav a {
  float: left;
  display: block;
  color: #232323;/*text dark*/
  text-align: center;
  padding: 4px 20px;
  margin: 8px 20px 8px 20px;
  text-decoration: none !important ; 
  font-size: 17px;
}

.active {
  color: #121212;/*dark*/
}

.topnav .icon {
  display: none;

}

.dropd {
  float: left;
  overflow: visible;
}

.dropd .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: #232323;/*text dark*/
  padding: 12px 40px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropd-content {
  display: none;
  position: absolute;
  background-color: #ffffff;

  min-width: 160px;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  box-shadow: 0 3px 5px rgba(85, 85, 85, 0.2)!important;
  z-index: 4;
}

.dropd-content a {
  float: none;
  color: #777;/*text muted*/
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.button a:hover{

}

.topnav a:hover, .dropd:hover .dropbtn {

  color: #228038;/*dark*/
  font-weight: 550;
 /*
font-size: 18px;
background-color: #DDDDDD;Background*/
}

.dropd-content a:hover {

  color: #228038;/*dark*/
}

.dropd:hover .dropd-content {
  display: block;
}




.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.pulse-btn
{
 /* width: 130px;
  height: 130px;
  font: 13px/130px 'Barlow Semi Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  background: rgba(30, 144, 255, 0.6);
  border-radius: 100%;*/
  float: right !important;
  animation: shadow-pulse 1.5s infinite;
  margin: 4px 50px 4px 0px;
  padding: 12px 40px;
}


@media screen and (max-width: 900px) {
  .topnav a:not(:first-child), .dropd .dropbtn {
    display: none;
    overflow: visible;
  }
  .topnav a.icon {
    float: right !important;
    display: block;
    overflow: visible;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    overflow: visible !important; 
  }
  .topnav.responsive .dropd {float: none;}
  .topnav.responsive .dropd-content {position: relative;}
  .topnav.responsive .dropd .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
}

@keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(92, 184, 92, 1);
  }
  100% {
    box-shadow: 0 0 0 20px rgba(92, 184, 92, 0);
  }
}